<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changez-d'attitude</title>
</head>
<body>
    <header class="header">
        <nav class="nav-header">
            <ul class="nav-ul">
                <li class="nav-li"><a href="/" class="nav-link">Acceuil</a></li>
                <li class="nav-li"><a href="/publications" class="nav-link">Publications</a></li>
                <li class="nav-li"><a href="/subscription" class="nav-link">Abonnements</a></li>
                <li class="nav-li"><a href="/signin" class="nav-link">connexion</a></li>
            </ul>
        </nav>

        <a href="/signup">Créer un compte</a>
    </header>