<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav class="admin-nav">
        <ul class="admin-nav_ul">
            <li class="admin-nav_li"><a href="/admin/publications" class="admin-nav_link">Publications</a></li>
            <li class="admin-nav_li"><a href="/admin/add/publication" class="admin-nav_link">Ajouter une publication</a></li>
            <li class="admin-nav_li"><a href="/admin/management/users" class="admin-nav_link">Utilisateurs</a></li>
            <li class="admin-nav_li"><a href="/" class="admin-nav_link">Retour a l'accueil</a></li>
        </ul>
    </nav>