<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav class="company-nav">
        <ul class="company-nav_ul">
            <li class="company-nav_li"><a href="/company/info" class="company-nav_link">Informations</a></li>
            <li class="company-nav_li"><a href="/company/management/employee" class="company-nav_link">Salariés</a></li>
            <li class="company-nav_li"><a href="/company/management/subscription" class="company-nav_link">Tarification</a></li>
            <li class="company-nav_li"><a href="/company/readings" class="company-nav_link">Mes lectures</a></li>
            <li class="company-nav_li"><a href="/" class="company-nav_link">Retour a l'acceuil</a></li>
        </ul>
    </nav>