<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav class="employee-nav">
        <ul class="employee-nav_ul">
            <li class="employee-nav_li"><a href="/employee/info" class="employee-nav_link">Informations</a></li>
            <li class="employee-nav_li"><a href="/employee/readings" class="employee-nav_link">Mes Lectures</a></li>
            <li class="employee-nav_li"><a href="/" class="employee-nav_link">Retour à l'accueil</a></li>
        </ul>
    </nav>