<%- include('./header.ejs')  %>
    <nav class="sub-header_nav">
        <ul class="sub-header_nav-ul">
            <li class="sub-header_nav-li"><a class="sub-header_nav-link" href="/signup/company">Employeur</a></li>
            <li class="sub-header_nav-li"><a class="sub-header_nav-link" href="/signup/employee">Salarié</a></li>
        </ul>
    </nav>
</body>
</html>