<%- include('./partials/header.ejs')  %>
    <main class="main-home">
        <section class="first-container">
            <div class="wrapper">
                <div class="flex-content">
                    <div class="first-argument_container">
                        <h1 class="first-tittle">Diriger son entreprise en harmonie avec les préceptes de la Parole de Dieu</h1>
                        <p class="first-paragraph">
                            Abonnez-vous maintenant pour accéder à des publications exclusives conçues pour les dirigeants 
                            chrétiens d'entreprise. 
                            Chaque article est une opportunité de croissance personnelle et professionnelle, 
                            vous rapprochant de la réussite éclairée par des principes intemporels.
                        </p>
                        <a class="button-cta first" href="/signup">S'abonner aux publications</a>
                    </div>
                    
                    <div class="first-container_image">
                        <img class="first-image" src="/images/zen.svg" alt="homme qui médite">
                    </div>
                </div>
            </div>
            
            </section>
            
            <section class="last-publication">
                <div class="wrapper">
                    <h2 class="section-title">Publications Récentes</h2>
                
                    <div class="cards-container">
                
                        <div class="card">
                
                            <div class="card-image-container">
                                <img class="card-img" src="/images/publications.jpg" alt="image de publication">
                            </div>
                
                            <p class="card-title">Pourquoi payer l'impot ?</p>
                
                        </div>
                
                        <div class="card">
                
                            <div class="card-image-container">
                                <img class="card-img" src="/images/publications.jpg" alt="image de publication">
                            </div>
                
                            <p class="card-title">Pourquoi payer l'impot ?</p>
                
                        </div>
                
                        <div class="card">
                
                            <div class="card-image-container">
                                <img class="card-img" src="/images/publications.jpg" alt="image de publication">
                            </div>
                
                            <p class="card-title">Pourquoi payer l'impot ?</p>
                
                        </div>
                
                        <div class="card">
                
                            <div class="card-image-container">
                                <img class="card-img" src="/images/publications.jpg" alt="image de publication">
                            </div>
                
                            <p class="card-title">Pourquoi payer l'impot ?</p>
                
                        </div>
                
                    </div>

                </div>
            
            </section>
            
            <section class="benefits">
                <div class="wrapper">
                    <h1 class="section-title">Les Avantages de l'abonnement pour votre entreprise</h1>
                    <div class="items">
                        <div class="item">
                            <div class="item-img-container">
                                <img class="item-img" src="/images/prod.svg" alt="image sur la productivité">
                            </div>
                            <div class="item-paragraph-container">
                                <h3 class="item-title">Amélioration de la productivité</h3>
                                <p class="item-paragraph">Eliminer les sources de stress et de conflit en créant un environnement de travail positif</p>
                
                            </div>
                        </div>
                
                        <div class="item">
                            <div class="item-img-container">
                                <img class="item-img" src="/images/cost.svg" alt="image sur la réduction des couts">
                            </div>
                            <div class="item-paragraph-container">
                                <h3 class="item-title">Réduction des coûts liés aux conflits</h3>
                                <p class="item-paragraph">
                                    Réduire l’absentéisme, les congés maladie, 
                                    les arrêts de travail, les coûts juridiques et les coûts de remplacement de personnel
                                </p>
                
                            </div>
                        </div>
                
                        <div class="item">
                            <div class="item-img-container">
                                <img class="item-img" src="/images/lois.svg" alt="image sur la réglemantation">
                            </div>
                            <div class="item-paragraph-container">
                                <h3 class="item-title">Conformité aux lois et réglementations</h3>
                                <p class="item-paragraph">Réduire les risques de litige et d’amendes en se conforment aux loi et réglementation en matière de ressources humaines</p>
                
                            </div>
                        </div>
                
                        <div class="item">
                            <div class="item-img-container">
                                <img class="item-img" src="/images/positive.svg" alt="image représentant une attitude positive au travail">
                            </div>
                            <div class="item-paragraph-container">
                                <h3 class="item-title">Amélioration des relations de travail</h3>
                                <p class="item-paragraph">
                                    Améliorer les relations de travail entre les employés et les employeurs, 
                                    créer un environnement de travail plus harmonieux et augmenter la satisfaction des employés.
                                </p>
                
                            </div>
                        </div>
                
                        <div class="item">
                            <div class="item-img-container">
                                <img class="item-img" src="/images/popularité.svg" alt="image représentant la popularité">
                            </div>
                            <div class="item-paragraph-container">
                                <h3 class="item-title">Amélioration de l’image de marque de l’entreprise</h3>
                                <p class="item-paragraph">
                                    Les entreprises qui prennent soint de leurs
                                    employés sont perçues comme des employeurs attractifs et responsables
                                </p>
                
                            </div>
                        </div>
                
                        <div class="item">
                            <div class="item-img-container">
                                <img class="item-img" src="/images/communication.svg" alt="image sur la communication">
                            </div>
                            <div class="item-paragraph-container">
                                <h3 class="item-title">Amélioration de la communication</h3>
                                <p class="item-paragraph">Identifier les obstacles à une communication efficace et proposer des solutions.</p>
                
                            </div>
                        </div>
                
                    </div>

                </div>
            </section>

            <section class="final-container">
                <div class="wrapper">
                    <div class="flex-content reverse">
                        <div class="first-argument_container">
                            <h1 class="first-tittle">Essemble,  faisons évoluer votre entreprise vers un niveau supérieur</h1>
                            <p class="first-paragraph">
                                Abonnez-vous maintenant pour accéder à des publications exclusives conçues pour les dirigeants 
                                chrétiens d'entreprise. 
                                Chaque article est une opportunité de croissance personnelle et professionnelle, 
                                vous rapprochant de la réussite éclairée par des principes intemporels.
                            </p>
                            <a class="button-cta first" href="/signup">S'abonner aux publications</a>
                        </div>
                        
                        <div class="first-container_image">
                            <img class="first-image" src="/images/accord.svg" alt="homme qui médite">
                        </div>
                    </div>
                </div>
            </section>
    </main>
    <%- include('./partials/script.ejs')  %>
</body>
</html>